Workflowfiles/My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        -180
      ],
      "id": "118124a5-dfab-4b55-a023-37bb806acf54",
      "name": "Schedule Trigger",
      "notesInFlow": true
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appxeLpBdPkwNzVCY",
          "mode": "list",
          "cachedResultName": "Voice Call system",
          "cachedResultUrl": "https://airtable.com/appxeLpBdPkwNzVCY"
        },
        "table": {
          "__rl": true,
          "value": "tbltvLFrRQGCXZAv7",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appxeLpBdPkwNzVCY/tbltvLFrRQGCXZAv7"
        },
        "filterByFormula": "({Status}=\"TBC\")",
        "returnAll": false,
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -200,
        -180
      ],
      "id": "4dd46b04-ad3d-4ba8-9bbd-3e13cbb66904",
      "name": "Airtable",
      "alwaysOutputData": false,
      "credentials": {
        "airtableTokenApi": {
          "id": "3VYvXfllmGbPygjN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bedecc8d-2d0a-44b1-9281-077084f9838c",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "5158ed0f-a92a-4a71-818f-78ac14365965",
              "name": "First Name",
              "value": "={{ $json['First Name'] }}",
              "type": "string"
            },
            {
              "id": "95746cfe-1c4e-4570-8902-fcdf2e5b06fe",
              "name": "Mobile",
              "value": "={{ $json.Mobile }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        20,
        -180
      ],
      "id": "7454d2aa-c1dc-4257-8498-4e3553c68cb5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.vapi.ai/call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer bf924cb5-0a6c-4344-8300-8204426597f2"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"assistantId\" : \"dce24761-9c38-4b87-9acf-fd0bd5870b2c\",\n  \"customer\":{\n    \"name\" : \"{{ $json['First Name'] }}\",\n    \"number\" : \"{{ $json.Mobile }}\"\n  },\n  \"phoneNumberId\" : \"5d177665-83f3-4665-8f1b-15979d2d5b3a\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        -180
      ],
      "id": "dcce9c38-87b9-4ca1-97f8-d371f349cb72",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appxeLpBdPkwNzVCY",
          "mode": "list",
          "cachedResultName": "Voice Call system",
          "cachedResultUrl": "https://airtable.com/appxeLpBdPkwNzVCY"
        },
        "table": {
          "__rl": true,
          "value": "tbltvLFrRQGCXZAv7",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://airtable.com/appxeLpBdPkwNzVCY/tbltvLFrRQGCXZAv7"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Edit Fields').item.json.id }}",
            "Status": "In progress"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "First Name",
              "displayName": "First Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Last Name",
              "displayName": "Last Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Mobile",
              "displayName": "Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Called",
                  "value": "Called"
                },
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "TBC",
                  "value": "TBC"
                },
                {
                  "name": "Voicemail",
                  "value": "Voicemail"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attempts",
              "displayName": "Attempts",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "#Attempt 1",
                  "value": "#Attempt 1"
                },
                {
                  "name": "#Attempt 2",
                  "value": "#Attempt 2"
                },
                {
                  "name": "#Success",
                  "value": "#Success"
                },
                {
                  "name": "Unreachable",
                  "value": "Unreachable"
                },
                {
                  "name": "#Attempt 3",
                  "value": "#Attempt 3"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date Time",
              "displayName": "Date Time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Assignee",
              "displayName": "Assignee",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        460,
        -180
      ],
      "id": "9aee0715-677a-45e5-a08b-d3e039646512",
      "name": "Airtable1",
      "credentials": {
        "airtableTokenApi": {
          "id": "3VYvXfllmGbPygjN",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Airtable1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3bff445f-d741-4602-ad65-02d76c2bea1f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f2f74e250a64afbd64a05cdac0af1e0db02f9e02f9a07fa1a571c5af73830660"
  },
  "id": "zRzxh7BpKgCrpA1v",
  "tags": []
}